<!doctype html>
<html lang="en" ng-app="GitUserSearch">
  <head>
    <meta charset="utf-8">

    <title>Github user search</title>

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/main.css">

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-mocks/angular-mocks.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="js/app.js"></script>
    <script src="js/gitUserSearchController.js"></script>
    <script src="js/searchFactory.js"></script>
  </head>
  <body ng-controller="GitUserSearchController as searchCtrl">
    <header>
      <h1 class="text-center">Github user search</h1>
    </header>
    <div class="container">
      <div class="row">
        <form class="form-inline col-md-6 col-md-offset-3" name="searchForm">
          <div class="input-group col-md-12 input-group-lg">
            <input class = "form-control text-center"
                   placeholder="Github Username"
                   type="text"
                   ng-model="searchCtrl.searchTerm"
                   ng-change="searchForm.$valid &amp;&amp; searchCtrl.doSearch()"
                   ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }"
                   required>
            <span class="input-group-btn">
              <button class="btn btn-success" ng-click="searchCtrl.doSearch()"><i class="glyphicon glyphicon-search"></i></button>
            </span>
         </div>
        </form>
      </div>
      <div class="row">
        <h2 class="text-center">Results For: {{searchCtrl.searchTerm}}</h2>
        <ul class="list-group">
          <li class="user list-group-item" ng-repeat="user in searchCtrl.searchResult.items">
            <a class="user-login text-center" ng-href="{{user.html_url}}">{{user.login}}</a>
            <img class="user-avatar" ng-src="{{user.avatar_url}}&amp;s=75" >
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
